<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png" />
		<link rel="manifest" href="../favicons/site.webmanifest" />
		<link rel="mask-icon" href="../favicons/safari-pinned-tab.svg" color="#e6bf40" />
		<meta name="msapplication-TileColor" content="#ff0000" />
		<meta name="theme-color" content="#e6bf40" />
		<title>Start | Practical Part</title>
	</head>
	<body>
		<main>
			<section>
				<form id="form" method="post">
					<input type="submit" value="Submit" />
					<input type="text" id="text" name="text" />
				</form>
			</section>
			<section id="content-wrapper"></section>
		</main>
	</body>
	<script defer>
		const data = <%- data.content -%>;
			const box = document.getElementById("content-wrapper")
			data.forEach(e => {
				const div = document.createElement("div");
				div.textContent = e.data;
				box.append(div)
			});
		document.getElementById("form").addEventListener("submit", (e) => {
			const data = { text: document.getElementById("text").value };
			const options = {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			};
			console.log(options);
			fetch("/add", options)
				.then((response) => {
					console.log("Data sent successfully!");
				})
				.catch((err) => {
					console.log(err);
				});
		});
	</script>
</html>
